<div id='records'>
  
  
    <div class='pagination_container'>
      
		<%= render :partial => "sortable_list" %>
    </div>
  
</div>
<div id='actions'>
  <ul>
    <% if Admin::SongsController.searchable? %>
      <li>
        <%= render :partial => "/shared/admin/search",
                    :locals => {
                      :url => admin_album_songs_url(@album)
                    } %>
      </li>
    <% end %>
    <li>
      <%= link_to t('.create_new'), new_admin_album_song_url(@album),
                   :class => "add_icon" %>
    </li>
    
  