<% content_for :body_content_left do %>
  <ul id="albums">
    <% @albums.each do |album| %>
      <li id="album_item">
		<%= image_fu album.title_image, '100x100', :id => "album_main_image" unless album.title_image.nil? %>
        <%= link_to album.title, album_url(album) %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "/shared/content_page" %>
