

<% content_for :body_content_left do %>

  <ul id="songs">
    <% @album.songs.each do |song| %>
      <li id="track">
        <%= link_to song.title, album_songs_url(@album) %>
      </li>
    <% end %>
  </ul>

<% end %>


<%= render :partial => "/shared/content_page" %>
